.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}
.nav-item{
    margin: 0 40px;
   
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    justify-content: end;
}



.nav-item a::after {
    content: "";
    display: block;
    height: 1.6px;
    width: 0;
    background: white;
}

.nav-item a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

.text{
    text-decoration: solid;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    

}